* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.blue, .orange, .green, .red {
    display: flex;
    flex-direction: column;
}

.blue {
    background: #0000ff;
    height: 200px;
}

.green {
    background: #008000;
    height: 300px;
}

.orange {
    height: 200px;
    background: #FFA500;
}

.red {
    height: 300px;
    background: #ff0000;
}

.box1, .box2, .box3, .box4 {
    flex-grow: 1;
    border: 5px solid #FFFFFF;
}

.red > .box3, .red > .box4 {
    display: none;
}

@media (min-width: 576px) {

    .red {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .red-square {
        flex: 1 0 40%;
    }

    .red > .box3, .red > .box4 {
        display: flex;
    }
}

@media (min-width: 768px) {

    .box1, .box2, .box3, .box4 {
        border: 10px solid #FFFFFF;
    }

    .blue, .green {
        flex-direction: row;
    }

    .orange {
        height: 350px;
    }

    .red-square {
        flex: 1 1 25%;
    }

}
